{{define "about"}}
{{template "header" .}}

<div>
    <img src="static/image/logo.jpg" alt="cloudweg" class="col-lg-2 col-md-3 col-sm-4">
    <p>this is community diven project.</p>
</div>

{{template "footer" .}}
{{end}}