{{define "header"}}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{$.Title}}</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d1d1928094.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
                <a href="/"><img class="navbar-brand" src="static/image/logo.jpg" alt="cloudWeGo"
                        style="height: 3em"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Categories
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">T-shirt</a></li>
                                <li><a class="dropdown-item" href="#">Sticker</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/about">About</a>
                        </li>
                    </ul>l
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <div class="ms-3">
                        <i class="fa-solid fa-cart-shopping fa-xl"></i>
                    </div>
                    {{ if .user_id}}
                    <div class="dropdown">

                        <div class="ms-3 dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa-solid fa-user fa-xl"></i>
                            <span>Hello</span>
                        </div>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#">Order Center</a>
                            </li>
                            <li>
                                <form action="/auth/logout" method="post">
                                    <button type="submit" class="dropdown-item">Logout</a>
                                </form>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Setting</a>
                            </li>

                        </ul>
                    </div>
                    {{else}}
                    <div class="ms-3">
                        <a type="button" class="btn btn-primary" href="/sign-in">Sign In</a>
                    </div>
                    {{end}}
                </div>
            </div>
        </nav>
    </header>
    <main style="min-height: calc(80vh);">
        <div class="continer-fluid" py-3>
            {{end}}